.checkoutPage {
  padding-top: 10rem;
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  min-height: 100vh;
}

.checkoutPage h2 {
  text-align: center;
  color: #4caf50; /* Light green for success or confirmation */
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.checkoutForm {
  width: 30em;
  margin: auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-row {
  margin-bottom: 1.5rem;
}