.checkoutPage {
  padding-top: 10rem;
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  min-height: 100vh;
}

.checkoutPage h2 {
  text-align: center;
  color: #4caf50; /* Light green for success or confirmation */
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.checkoutForm {
  width: 30em;
  margin: auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-row {
  margin-bottom: 1.5rem;
}

#cardElement {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

#cardElement:focus {
  border-color: #1c64f2; /* Highlight border color on focus */
}

.cardInput {
  padding: 10px;
  font-size: 14px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
  outline: none;
  font-family: sans-serif;
}

.cardInput:focus {
  border-color: #1c64f2;
}

button[type='submit'] {
  background-color: #1c64f2;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
  width: 100%;
  font-family: sans-serif;
  text-transform: uppercase;
}

button[type='submit']:hover {
  background-color: #0a3ba3;
}

button[type='submit']:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.card-error {
  color: rgb(236, 12, 12);
  font-size: 0.9rem;
  margin-top: 1rem;
}
